.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#333333;
  }
  .st1{
    fill:#333333;
  }
  .st2{
    clip-path:url(#SVGID_2_);
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FFFFFF;
  }
  .st3{
    fill:#BE0000;
  }